/* Color & Policy
Primary (CTA, boutons)     : #2563EB
Secondary (titres forts)  : #0F172A
Background principal      : #FFFFFF
Background section        : #F1F5F9
Principal text          : #1E293B
Secondary text       : #64748B


title : Poppins
text : Inter
 */


/* general content */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
}

section{
    background-color: #F1F5F9;
}
.bck_section{
    background-color: #F1F5F9;
}
.title{
    font-family: "Poppins", sans-serif;
    color: #0F172A;
    font-size: 42px;
}
.principal_text{
    color: #1E293B;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}
.secondary_text{
    color: #64748B
}
.primary{
    background-color: #2563EB;
    font-size: 18px;
    font-weight: bolder;
}
/* specific content */

/* navbar */
#header_logo img{
    height: 100%;
}

#header_navigation{
    width: 40%;
    height: 100%;

}
#header_navigation_navbar {
    width: 100%;
    height: 100%;
}
#header_navigation_navbar ul{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#header_navigation_navbar ul li {
    display: inline-block;
    text-decoration: none;
}

#header_navigation_navbar ul li a{
    text-decoration: none;
}


/* section about */
#about{
    width: 100vw;
    height: 80vh;
    justify-items: center;
}

#about_body{
    background-image: url("../pictures/coach_max.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}
#about_body_txt{
    padding: 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
#about_body_txt p{
    margin-top: 15%;
}
