/* Color & Policy
Primary (CTA, boutons)     : #2563EB
Secondary (titres forts)  : #0F172A
Background principal      : #FFFFFF
Background section        : #F1F5F9
Principal text          : #1E293B
Secondary text       : #64748B


title : Poppins
text : Inter
 */


/* general content */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
}

section{
    background-color: #F1F5F9;
}
.principal_bck{
    background-color: #FFFFFF;
}
.bck_section{
    background-color: #F1F5F9;
}
.title{
    font-family: "Poppins", sans-serif;
    color: #0F172A;
}
.principal_text{
    color: #1E293B;
    font-family: "Inter", sans-serif;
    font-size: 18px;
}
.secondary_text{
    color: #64748B;
    line-height: 1.5;
}
.primary{
    background-color: #2563EB;
    font-size: 18px;
    font-weight: bolder;
}

.btn_submit{
    padding: 25px;
    border-radius: 15px;
    border: none;
    color: white;
}

.btn_submit:hover{
    opacity: 1.5;
    background-color: red;
}
/* specific content */

/* navbar */
#header_logo img, #header_navigation, #header_navigation_navbar, #header_navigation_navbar ul{
    height: 100%;
}
#header_navigation{
    width: 40%;
}
#header_navigation_navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header_navigation_navbar ul li {
    display: inline-block;
    text-decoration: none;
}

#header_navigation_navbar ul li a{
    text-decoration: none;
}


/* section about */
#about{
    width: 100vw;
    height: 80vh;
    justify-items: center;
}
#about_body::before{
    background-image: url("../pictures/coach_max.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#about_body{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}
#about_body > * {
    position: relative;
    z-index: 1;
}

#about_body_txt{
    padding: 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
#about_body_txt p{
    margin-top: 15%;
}


/* Section prestaiton */
#prestation{
    width: 100vw;
    height: 35vh;
    justify-items: center;
}

#prestation_body{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.prestation_body_article{
    width: 600px;
    margin: 35px;
    height: 80%;
    border-radius: 15px;
}
.prestation_body_article_title, .prestation_body_article_text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prestation_body_article_title{
    height: 20%;
}
.prestation_body_article_text{
    height: 80%;
    text-align: center;
}